*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #0EA5E9;
    --secondary-color: #FACC15;
    --secondary-color-lighter: #daae01;
    --tertiary-color: #DE8712;
    --neutral-text-color: #73787D;
    --dark-text-color: #2C3135;
    --white-color: #F6FAFF;
    --background-color-light: #E5EFF4;
    --background-color-light-2: #E9F2F9;
    --footer-color: #DEE3E9;

    --box-shadow: 0 0 .7rem rgba(0,0,0,.3);
}

html {
    font-size: 62.5%;
    font-family: 'Plus Jakarta Sans', sans-serif;
    line-height: 1.3;
}

body {
    background-color: var(--white-color);
}

/* KOMPONENTY */

.btn--blue {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.btn--yellow {
    padding: 1.2rem 2.4rem;
    background-color: var(--secondary-color);
    color: var(--dark-text-color);
    font-family: 'Quicksand';
    border-radius: 40px;
    border: none;
    color: var(--neutral-text-color);
    transition: .3s;
}

.btn--yellow:hover {
    transform: translateY(-.5rem);
    background-color: var(--secondary-color-lighter);
}

.heading__primary {
    font-size: 2.2rem;
    color: var(--white-color);
}

.heading__secondary {
    font-size: 1.8rem;
}

.heading__tertiary {
    font-size: 1.6rem;
}

.menu__list {
        display: flex;
        gap: 1rem;
        list-style: none;
}

.menu__item {
        display: inline-block;
}

.menu__link {
        padding: 0.3rem;
        text-decoration: none;
        color: var(--neutral-text-color);
        font-size: 1.1rem;
        border: 1px solid transparent;
        transition: .3s;
}

.menu__link:hover {
        color: var(--primary-color);
        border-bottom: 1px solid var(--primary-color);
}

/* NAWIGACJA GŁÓWNA */

.main__menu-mobile {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: var(--white-color);
    height: 8vh;
    width: 100%;
}

.main__menu-desktop {
    display: none;
}

.main__menu-mobile, .main__menu-desktop {
    box-shadow: var(--box-shadow);
}

.burger__icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 1.5rem;
    width: 2rem;
}

.burger__bar {
    display: block;
    height: 3px;
    width: 100%;
    background-color: var(--primary-color);
}

.menu__logo-box {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu__logo {
    height: 8vh;
    cursor: pointer;
}

.search__icon {
    display: flex;
    align-items: center;
    color: var(--primary-color);
    width: 2rem;
    height: 2rem;
    transition: fill 0.2s;
    cursor: pointer;
}

@media(orientation: landscape) and (max-width: 1023px) {
    .main__menu-mobile {
        height: 12vh;
    }

    .menu__logo {
        height: 12vh;
    }
}

@media(min-width: 768px) {
    html {
        font-size: 75%;
    }
}

@media(min-width: 1024px) {
    html {
        font-size: clamp(75%, 1.5vw, 100%);
    }

    .main__menu-mobile {
        display: none;
    }

    .main__menu-desktop {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 1rem;
        padding-right: 1rem;
        background-color: var(--white-color);
        height: clamp(6rem, 10vh, 10rem);
    }

    .menu__logo-box {
        width: 20%;
    }

    .menu__logo {
        height: clamp(6rem, 10vh, 10rem);
    }

    .menu__buttons {
        display: flex;
        gap: 1.5rem;
    }

    .btn {
        font-size: 1.2rem;
        border: none;
        cursor: pointer;
        transition: .3s;
    }

    .btn-sign {
        padding: 0.5rem 1rem;
        background-color: transparent;
        color: var(--primary-color);
    }

    .btn-join {
        padding: 0.5rem 1rem;
        font-weight: bold;
        border-radius: 40px;
    }

    .btn-sign:hover {
        color: var(--neutral-text-color);
    }

    .btn-join:hover {
        background-color: var(--tertiary-color);
    }
}

/* HERO */

.hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8vh;
    height: 92vh;
    background-image: url("img/moremilu-mission-beach-1280.jpg");
    background-position: center;
    background-size: cover;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,.3);
}

.hero__content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 80%;
    text-align: center;
}

@media(min-width: 1024px) {
    .hero {
        margin-top: 0;
        height: 100vh;
    }

    .hero__content {
        gap: 4rem;
    }

    .heading__primary {
        font-size: 2.4rem;
    }
}

/* SEARCH BAR */

.search-bar {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    margin: -10vh 2rem 2rem 2rem;
    z-index: 2;
    padding: 1rem;
    min-height: 20vh;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: var(--box-shadow);
}

.search__field, .search__date, .search__people-number {
    position: relative;
}

.search__field {
    display: flex;
    align-items: center;
}

.search__location-icon {
    display: inline-block;
    color: var(--primary-color);
}

.input {
    padding: 0.8rem 1.4rem 0.8rem 3.5rem; /* lewy padding = miejsce na ikonę */
    background-color: #F0F4FA;
    font-family: inherit;
    border: none;
    font-size: 1.2rem;
    border-radius: 20px;
}

.input:focus {
    outline-color: var(--tertiary-color);
}

.icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1.2rem;
    width: 20px;
    height: 20px;
    color: var(--primary-color);
}

.search__input {
    width: 100%;
}

.search__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    border-radius: 30px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: .3s;
}

.search__btn:hover {
    background-color: var(--white-color);
    color: var(--primary-color);
}

.search__btn:hover .search__icon--white {
    color: var(--primary-color);
}

.search__icon--white {
    color: var(--white-color);
    transition: .3s;
}

.search__date, .search__people-number {
    display: none;
}

@media(orientation: landscape) {
    .search-bar {
        margin-right: 4rem;
        margin-left: 4rem;
    }
}

@media(min-width: 1024px) {
    .search-bar {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: -5vh;
        height: clamp(10vh, 10vh, 15vh);
    }

    .search__date, .search__people-number {
        display: inline-block;
    }

    .search__field {
        width: 50%;
    }

    .search__btn {
        width: 15%;
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    }

}

/* CARDS */

.locations {
    margin: 4rem 2rem;
}

.locations__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.btn-more {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1.3rem;
}

.card {
    border-radius: 20px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: var(--box-shadow);
}

.card__image-box {
    position: relative;
    height: 30vh;
}

.card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    transition: .3s;
}

.rate {
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: 0.5rem 1rem;
    background-color: rgba(246,250, 255, .7);
    border-radius: 10px;
    color: var(--secondary-color);
    font-size: 1.3rem;
    color: var(--dark-text-color);
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
}

.description {
    padding: 1.5rem 1.2rem;
}

.description__top, .description__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.description__top {
    margin-bottom: 1.5rem;
}

.trip-label {
    color: var(--neutral-text-color);
    font-size: 1.1rem;
}

.price {
    margin-top: 0.5rem;
    color: var(--primary-color);
    font-size: 1.3rem;
    font-weight: 300;
}

.tags-box {
    margin-bottom: 1rem;
}

.tag {
    display: inline-block;
    padding: 0.3rem .5rem;
    background-color: var(--background-color-light);
    border-radius: 5px;
    color: var(--primary-color);
}

.tag:not(:last-of-type) {
    margin-right: 1rem;
}

@media(min-width: 1024px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
    }

    .card {
        transition: .3s;
    }

    .card:hover {
    transform: translateY(-10px);
    }

    .card:hover .card__image {
        transform: scale(1.05);
    }
}

/* RECOMMENDATION */

.recommendation {
    margin: 4rem 2rem;
    background-color: var(--background-color-light-2);
    padding: 1.5rem;
}

.profile__photo {
    display: none;
}

.quotemark {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 5rem;
    font-family: 'Quicksand';
    color: var(--tertiary-color);
}

.story {
    position: relative;
    margin: 0 auto;
    width: 90%;
    margin-top: 2rem;
}

.quote {
    padding-top: 4rem;
    font-family: 'Quicksand', sans-serif;
    font-style: italic;
    font-size: 1.2rem;
}

.author-credentials {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.author-initials {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    font-size: 1.3rem;
}

.author-name {
    font-weight: bold;
    font-size: 1.2rem;
}

@media(min-width: 1024px) {

    .recommendation {
        margin: 4rem 0;
        padding: 2rem;
    }

    .recommendation__content {
        display: grid;
        grid-template-columns: 30vw 1fr;
        align-items: center;
        margin-top: 2rem;
    }

    .image-box {
        display: flex;
        justify-content: center;
        height: 30vh;
    }

    .story {
        margin-top: 0;
    }

    .profile__photo {
        display: block;
        height: 100%;
        border-radius: 50%;
        box-shadow: var(--box-shadow);
    }
}

/* FOOTER */

.footer {
    padding: 2rem;
    position: relative;
    border-radius: 10px 10px 0 0;
    background-color: var(--footer-color);
}

.bottom__logo-box {
    display: block;
}

.share-box, .message-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s;
}

.message-box {
    position: absolute;
    top: 0;
    right: 5vw;
    transform: translateY(-50%);
    width: 5rem;
    height: 5rem;
    background-color: var(--secondary-color);
}

.message__icon {
    width: 3rem;
    height: 3rem;
    color: var(--dark-text-color);
}

.share__icon{
    display: none;
}

@media(min-width: 1024px) {

    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .icon-boxes {
        display: flex;
        gap: 1.5rem;
    }
    
    .message-box {
        position: static;
        transform: translateY(0);
        width: 3rem;
        height: 3rem;
        background-color: var(--background-color-light-2);
    }

    .share-box {
        background-color: var(--background-color-light-2);
        width: 3rem;
        height: 3rem;
    }

    .bottom-icon {
    width: 1.5rem;
    height: 1.5rem;
    color: var(--primary-color);
    }

    .share__icon {
    display: block;
    }

    .message-box:hover, .share-box:hover {
        background-color: var(--white-color);
    }
}
