*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #0EA5E9;
    --secondary-color: #FACC15;
    --tertiary-color: #DE8712;
    --neutral-text-color: #73787D;
    --dark-text-color: #2C3135;
    --white-color: #F6FAFF;
}

html {
    font-size: 62.5%;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

/* KOMPONENTY */

.btn--blue {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.btn--yellow {
    padding: 1.2rem 2.4rem;
    background-color: var(--secondary-color);
    color: var(--dark-text-color);
    font-weight: 300;
    border-radius: 40px;
    border: none;
    color: var(--neutral-text-color);
}

.heading__primary {
    font-size: 2.2rem;
    color: var(--white-color);
}

/* NAWIGACJA GŁÓWNA */

.main__menu-mobile {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: var(--white-color);
    height: 8vh;
    width: 100%;
}

.main__menu-desktop {
    display: none;
}

.burger__icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 1.5rem;
    width: 2rem;
}

.burger__bar {
    /* position: absolute; */
    display: block;
    height: 3px;
    width: 100%;
    background-color: var(--primary-color);
}

.menu__logo-box {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu__logo {
    height: 8vh;
}

.search__icon {
    display: flex;
    align-items: center;
    color: var(--primary-color);
    width: 2rem;
    height: 2rem;
    transition: fill 0.2s;
    cursor: pointer;
}

@media(orientation: landscape) and (max-width: 1023px) {
    .main__menu-mobile {
        height: 12vh;
    }

    .menu__logo {
        height: 10vh;
    }
}

@media(min-width: 768px) {
    html {
        font-size: 75%;
    }
}

@media(min-width: 1024px) {
    html {
        font-size: clamp(75%, 1.5vw, 100%);
    }

    .main__menu-mobile {
        display: none;
    }

    .main__menu-desktop {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 1rem;
        padding-right: 1rem;
        background-color: var(--white-color);
        height: clamp(6rem, 10vh, 10rem);
    }

    .menu__logo-box {
        width: 20%;
    }

    .menu__logo {
        height: clamp(6rem, 10vh, 10rem);
    }

    .menu__list {
        display: flex;
        gap: 1rem;
        list-style: none;
    }

    .menu__item {
        display: inline-block;
    }

    .menu__link {
        padding: 0.3rem;
        text-decoration: none;
        color: var(--neutral-text-color);
        font-size: 1.1rem;
        border: 1px solid transparent;
        transition: .3s;
    }

    .menu__link:hover {
        color: var(--primary-color);
        border-bottom: 1px solid var(--primary-color);
    }

    .menu__buttons {
        display: flex;
        gap: 1.5rem;
    }

    .btn {
        font-size: 1.2rem;
        border: none;
        cursor: pointer;
        transition: .3s;
    }

    .btn-sign {
        padding: 0.5rem 1rem;
        background-color: transparent;
        color: var(--primary-color);
    }

    .btn-join {
        padding: 0.5rem 1rem;
        font-weight: bold;
        border-radius: 40px;
    }

    .btn-sign:hover {
        color: var(--neutral-text-color);
    }

    .btn-join:hover {
        background-color: var(--tertiary-color);
    }
}

/* HERO */

.hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8vh;
    height: 92vh;
    background-image: url("img/moremilu-mission-beach-1280.jpg");
    background-position: center;
    background-size: cover;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,.3);
}

.hero__content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 80%;
    text-align: center;
}

@media(min-width: 1024px) {
    .hero {
        margin-top: 0;
        height: 100vh;
    }

    .hero__content {
        gap: 4rem;
    }

    .heading__primary {
        font-size: 2.4rem;
    }
}

/* SEARCH BAR */

.search-bar {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    margin-top: -10vh;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    z-index: 4;
    padding: 1rem;
    height: clamp(20vh, 20vh, 25vh);
    border-radius: 20px;
    background-color: #fff;
}

.search__field, .search__date, .search__people-number {
    position: relative;
}

.search__field {
    display: flex;
    align-items: center;
}

.search__location-icon {
    display: inline-block;
    color: var(--primary-color);
}

.input {
    padding: 0.8rem 1.4rem 0.8rem 3.5rem; /* lewy padding = miejsce na ikonę */
    background-color: #F0F4FA;
    font-family: inherit;
    border: none;
    font-size: 1.2rem;
    border-radius: 20px;
}

.icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1.2rem;
    width: 20px;
    height: 20px;
    color: var(--primary-color);
}

.search__input {
    width: 100%;
}

.search__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    border-radius: 30px;
    font-size: 1.2rem;
}

.search__icon--white {
    color: var(--white-color);
}

.search__date, .search__people-number {
    display: none;
}

@media(orientation: landscape) {
    .search-bar {
        margin-right: 4rem;
        margin-left: 4rem;
    }
}

@media(min-width: 1024px) {
    .search-bar {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: -5vh;
        height: clamp(10vh, 10vh, 15vh);
    }

    .search__date, .search__people-number {
        display: inline-block;
    }

    .search__field {
        width: 50%;
    }

    .search__btn {
        width: 15%;
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    }

}